.App {
  margin-top: 0px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(29, 178, 248) 0%,
    rgb(147, 156, 242) 100%
  );
}
.main-header{
  margin-top: 0;
  padding-top: 20px;
}