.App {
  margin-top: 0px;
  text-align: center;
  background: #1a1a1a;
  color: white;
}
.main-header{
  margin-top: 0;
  padding-top: 20px;
}
.coin-input{
  border: none;
  width: 500px;
  height: 35px;
  border-radius: 7px;
  
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
::placeholder{
  color: white;
 margin-left: 50px;
}
